*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body{
    background-color: #283747;
}
h1{
    font-size: 36px;
    font-weight: 600;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    color: #CACFD2;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

p{
    color: #ECF0F1;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/*------- Navagation links----*/

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: center;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
  position: relative;
    width: 100%;
  background: #2B2B2B;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
    
    
   

}
nav img{
    width: 100px;
    right: 0px;
    position: absolute;
    transform: translateY(-4px);
}

/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
    
}

ul.primary li:last-child a {
  
}

ul.primary li a:hover {
  
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
    
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}

/*-----Header Video------*/
.video-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.video-container h1{
    font-size: 75px;
    color: #fff;
    font-weight: 600;
   position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
    margin-top: 0;
}
.video-container h2{
    font-size: 40px;
    color: grey;
    font-weight: 400;
    padding: 10px;
    position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9;
    
}
.video-background {
  top: 0;
  left: 0;
  width: 100%;
    z-index: -3;
    filter: brightness(70%);
    object-fit: cover;
}

/*----- Team Video -------*/
.teamvid{
    height: 300px;
    width: 400px;
    position: relative left:50%;
    margin: 80px auto;
    
}


/*--------Description--------*/
.description{
    margin: 10%;
    background: black;
    border-radius: 10px;
    padding: 30px;
}
.description h1{
    margin-top: 0;
}



/*-------------Team HTML------------------------------*/


/*--------- Meet The Team -------*/
.mttintro{
    
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('placeholderbanner.jpeg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
   
   
}
.mttintro h1{
    margin-top: 0px;
    transform: translateY(50%);
    padding: 50px;
}


.roster{
    margin-top: 20px;
}


.team-member {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    
}

.team-member img{
     width: 100px;
  height: 100px;
  border-radius: 50%;
}


.team-member-info {
  margin-left: 20px;
}

.team-member-name {
  font-size: 20px;
  font-weight: bold;
}

.team-member-bio {
  font-size: 16px;
}


/*--------------------- Project HTML -------------------------*/
/*--------- Project discription --------*/

.prodis{
    margin: 10%;
    background: black;
    border-radius: 10px;
    padding: 30px;
}
/*--------- Project Notes --------*/

    .dow p {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	list-style: none;
}
.dow p {
		display: flex;
		width: 95%;
		height: 95%;
		margin: 0.25rem;
		flex-flow: column;
		border-radius: 0.2rem;
		padding: 1rem;
		font-weight: 600;
		font-size: 1rem;
		box-sizing: border-box;
		background: rgba(31, 97, 141, .85);
		box-shadow: 0 8px 32px 0 rgba(46, 204, 113, 0.5);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
    }
.dow p:first-child {
  grid-column-start: 1;
}
.dow{
    margin-bottom: 20px;
}


.cal body {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-family: "Poppins", serif;
    
}
.cal{
    padding: 10px;
}
.cal h1 {
	font-weight: 800;
	margin-bottom: 20px;
    
}

.cal ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	list-style: none;
}

	.cal li {
		display: flex;
		width: 95%;
		height: 95%;
		margin: 0.25rem;
		flex-flow: column;
		border-radius: 0.2rem;
		padding: 1rem;
		font-weight: 300;
		font-size: 0.8rem;
		box-sizing: border-box;
		background: rgba(31, 97, 141, 1);
		box-shadow: 0 8px 32px 0 rgba(46, 204, 113, 0.5);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
    }

		.cal time {
			font-size: 2rem;
			margin: 0 0 1rem 0;
			font-weight: 500;
            color: #A6ACAF;
		}
.apr li:first-child {
  grid-column-start: 7;
}
.may li:first-child{
    grid-column-start: 2;
}
.jun li:first-child{
    grid-column-start: 5;
}
.jul li:first-child{
    grid-column-start: 7;
}
.aug a:first-child{
    grid-column-start: 3;
}
	
    
		.cal time {
			font-weight: 800;
		}
.cal a{
    font-size: 15px;
    text-decoration: underline;
    font-weight: 200;
    background:rgba(212, 172, 13, .85);
    display: flex;
		width: 95%;
		height: 95%;
		margin: 0.25rem;
		flex-flow: column;
		border-radius: 0.2rem;
		box-sizing: border-box;
		box-shadow: 0 8px 32px 0 rgba(46, 204, 113, 0.5);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 100
}

/*--------- Human Practices --------*/
/*--------- Fig 1 --------*/
.conmap {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
    transform: translateX(50%);
}

.conmap * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.conmap::before,
.conmap::after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.conmap img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.conmap figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.conmap:hover::before,
.conmap:hover::after {
  transform: scale(1);
  opacity: 1;
}

.conmap:hover > img {
  opacity: 0.7;
}

.conmap:hover figcaption {
  opacity: 1;
}



/*--------- Footer --------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #00FA9A;
}
.icons .fa-brands{
    color: #00FA9A;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
}

/*-------- Test ---------*/



